.hero{
    background-color: #F2EFE7;
    margin-top: 100px;
    margin-bottom: 250px;
}
.hero-contents{
    background-color: #F2EFE7;
    max-width: 50%;  
    padding: 25px;  
}
.line{
    width: 20%;
    background-color: red;
    
}
.button{
    background-image: url("./assets/button1.jpg");
    width: 15em;
    height: 3em;
    cursor: pointer;
    font-size: 1em;
    color: #2973B2;
    font-weight: bold;
    border: none;
    margin-bottom: 10px;
}
.img-side{
    margin-top: 80px;
}