

.hold{
    background-color: rgba(12, 94, 141, 0.1);
}
.all-body{
    display: flex;
    flex-direction: row;
    gap: 200px;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    
}

.nav{
    position: absolute;
}

.all-body{
    background-image: url("./assets/rhombus.gif");
    width: 100%;
}

@media screen and (max-width:600px){
    .HoldingSroll{
        
    }
}